body {
    background-color: rgb(90, 128, 92);
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.main {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    overflow: scroll;

    display: flex;
    flex-direction: column;

}
.course-select-container {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}
.title {
    width: 100%;
    padding: 50px 0px;
    text-align: center;
    background-color: rgb(184, 200, 184);

}
.courses {
    padding: 50px 0px;
    background-color: rgba(0, 0, 0, 0);
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.card{
    margin: 5px;
    height: 350px;
}
.card > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#course-is-selected{
    display:none;
}
.selected-course{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.table-responsive-lg{
    width: 95%;
    background-color: white;
    font-size: 12px;
    margin: 50px 0px;
}
.playerOptions{
    display: none;
    flex-direction: column;
    align-items: center;
}
.playerNameInputs{
    display: none;
}
.btn{
    margin: 20px 5px;
    max-width: 150px;
}
.playerNameInputs{
    display: none;
    flex-direction: column;
    align-items: center;
}
/* tr td:nth-child(2n) {
    background-color: rgb(245, 246, 255);
} */
#render-buttons{
    display: none;
}
colgroup col:nth-child(2n){
    background-color: rgb(239, 244, 255);
}
.table-remove-border {
    border: none;
}
.table-remove-border>:not(:first-child){
    border-top: none;
}
td {
    border: none;
}